@use 'sass:map';
@use '../../../../stylesheets/abstracts' as my;

.results {
  height: 100%;

  background: my.palette('github', 'white');
}

.results .container {
  display: grid;

  row-gap: my.$leading * 1rem;

  padding-top: #{my.$leading * 2rem};
  padding-bottom: #{my.$leading * 2rem};
}

.result-item {
  display: grid;

  row-gap: my.$leading * 1rem;

  align-items: center;

  width: 100%;
  padding: my.$leading * 1rem;

  text-align: center;

  border: 1px dashed my.palette('github', 'dark-gray');

  @media screen and (min-width: #{map.get(my.$breakpoints, 'toggle-table-layout')}) {
    grid-template-columns: 100px 2fr 1fr;

    row-gap: my.$leading * 2rem;
    column-gap: my.$leading * 1rem;

    text-align: left;
  }
}

.avatar {
  width: 100px;
  height: 100px;

  border-radius: 50%;
  object-fit: contain;

  @media screen and (max-width: #{map.get(my.$breakpoints, 'toggle-table-layout') - 0.01}) {
    width: 150px;
    height: 150px;
  }
}
