@use 'sass:map';

@use '../../../../stylesheets/abstracts' as my;

.container {
  padding-top: my.$leading * 1rem;
  padding-bottom: my.$leading * 1rem;
}

.container--narrow {
  padding-top: 108px;
  padding-bottom: my.$leading * 2rem;

  @media screen and (min-width: #{map.get(my.$breakpoints, 'toggle-table-layout')}) {
    padding-top: 108px;
    padding-bottom: my.$leading * 4rem;
  }
}

.search-group {
  position: relative;

  max-width: my.$max-width--narrow;
}

.search--result .search-group {
  position: relative;

  display: grid;

  grid-template-columns: 100px 1fr auto;

  column-gap: my.$gutter * 0.25;

  align-items: center;

  .search__image {
    height: 60px;

    cursor: pointer;
  }
}

.search__image {
  width: 100%;
  height: 160px;
  margin: auto;
  object-fit: contain;
}

.input-group {
  position: relative;
}

.search__buttons {
  position: absolute;
  top: 50%;
  right: my.$gutter * 1;

  display: inline;

  align-items: center;

  transform: translateY(-50%);

  button {
    width: 28px;
    min-width: unset;
    height: unset;
    padding: 0;
    margin-right: my.$leading * 0.25rem;

    background: transparent;

    &:last-of-type {
      margin-right: 0;
    }

    &:focus,
    &:active,
    &:hover {
      background: transparent;
    }
  }
}
